/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "basscss/basscss";
@import "basscss/basscss-addons";

@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat');


$font-stack: 'Montserrat', sans-serif;
$btn-font: 'Exo+2', sans-serif;

$color-1: #C33C54;
$color-2: #69D1C5;
$color-3: #B5FED9;
$color-4: #0471A6;
$color-5: #474935;


body {
  font: 100% $font-stack;
}

input.btn {
  background-color: $color-4;
}

$a-tags: 'a, a:active, a:hover';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $color-4;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $color-5;
}

nav.#{$a-tags-hover} {
  color: $color-4;
}

.login-btn {
  background-color: $color-1;
}

nav {
  background-color: $color-2;
  height: 75px;
}

button.chart {
  background-color: $color-4;
}
